<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/common_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unicorn_soul">

        <activity
            android:name="com.kissspace.setting.ui.activity.SettingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.kissspace.setting.ui.activity.AccountSafeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.SettingLoginPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.UpdatePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.LogOffAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.NotifySettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.SayHiSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.BlackListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kissspace.setting.ui.activity.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.TeenagerModeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kissspace.setting.ui.activity.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kissspace.setting.ui.activity.TeenagerModeDescribeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kissspace.setting.ui.activity.IdentityAuthSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kissspace.setting.ui.activity.ChangeAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name="com.kissspace.setting.ui.activity.BindBankCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>